In [4]:
import os;
path = "/Users/jamalbacchus/IdeaProjects/Capstone/SpringBoard/Mini-Projects/Stocks Prediction/Quotes/"
os.chdir(path)
os.getcwd()

'/Users/jamalbacchus/IdeaProjects/Capstone/SpringBoard/Mini-Projects/Stocks Prediction/Quotes'

In [35]:
%matplotlib inline
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import numpy as np
import math
from statsmodels.tsa.stattools import acf, pacf
import statsmodels.tsa.stattools as ts
from statsmodels.tsa.arima_model import ARIMA, ARIMAResults
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pylab as plt
import matplotlib.dates as dates
from pylab import rcParams

rcParams['figure.figsize'] = 15, 10

In [38]:
variables = pd.read_csv('JNJ.csv')
variables.head()

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2018-04-17,132.11,132.20,128.81,130.54,11008515.0,0.0,1.0,132.11,132.20,128.81,130.54,11008515.0
1,2018-04-16,131.41,132.88,131.28,131.76,6375059.0,0.0,1.0,131.41,132.88,131.28,131.76,6375059.0
2,2018-04-13,131.09,131.42,129.63,130.62,4742250.0,0.0,1.0,131.09,131.42,129.63,130.62,4742250.0
3,2018-04-12,130.09,131.31,129.86,130.43,4559418.0,0.0,1.0,130.09,131.31,129.86,130.43,4559418.0
4,2018-04-11,129.14,130.35,129.03,129.63,4575162.0,0.0,1.0,129.14,130.35,129.03,129.63,4575162.0

In [12]:
variables.shape

(12183, 13)

In [ ]:
variables.drop(columns = [])